body {
    font-family: "Droid Sans", sans-serif;
    width: 40em;
    margin: 0px auto;
}
/* Used for the "Hello <USER>!" */
header h4 {
    text-align: right;
}
nav {
    display: inline-block;
    width: 9em;
    vertical-align: top;
}
nav ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
#content {
    display: inline-block;
    width: 30em;
    vertical-align: top;
}
footer {
    font-size: 0.8em;
    text-align: center;
    margin-top: 2em;
}
